html.dark body{
    background-color: #121212;
}

/* html.dark .n-button {
    background-color: #121212;
    color: #fff;
}
 
html.dark .n-h1:hover {
    background-color: #18222b;
}
 
html.dark .n-popselect {
    background-color: #121212;
    color: #fff;
}
 
html.dark .n-divider {
    color: var(--el-color-primary);
}
 
html.dark .n-input {
    background-color: #121212;
    color: #fff;
}
 
html.dark .n-card:hover {
    background-color: #18222b;
}
 
  */